.grid {
  display: grid;

  width: 100%;
  height: 100%;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 1rem;

  .item {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100%;

    // border: 1px solid #333;
    // border-radius: 1rem;

    aspect-ratio: 16 / 9; // Exemplo para uma proporção 16:9

    background-size: cover;
    background-position: center;

    width: 24rem;

    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(4) {
      grid-row: span 2;
    }
  }
}
