.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text {
  width: 40rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;

  h1 {
    font-size: 3rem;
  }
}

.grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;

  .item {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100%;

    aspect-ratio: 14 / 9; // Exemplo para uma proporção 16:9

    background-size: cover;
    background-position: center;

    width: 15rem;

    &:nth-child(1),
    &:nth-child(3) {
      grid-row: span 3;
    }
  }
}
