.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5.75rem;
  padding: 1.5rem 15rem;

  background: none;
  background-color: transparent;

  z-index: 10;
  // color: #fff;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  font-size: 1.5rem;
  margin: 0;
}

.nav {
  display: flex;
  gap: 1rem;

  align-items: center;
}

.link {
  position: relative;

  font-size: 1em;
  margin-left: 24px;

  text-decoration: none;
  // color: #fff;
  transition: transform 0.3s, color 0.3s;
}

.link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -5px;

  height: 2px;
  width: 100%;

  background-color: #ffa500;

  transform: scaleX(0);
  transition: transform 0.3s;
}

.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
}

.link:hover,
.link:focus {
  transform: scale(1.1);
  color: #ffa500;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

.modal {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0);

  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, background-color 0.3s ease;

  &.open {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.close {
    opacity: 0;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0);
  }
}

.modalContent {
  padding: 18px;
  border-radius: 6px;

  &.fadeIn {
    animation: fadeInUp 0.3s ease forwards;
  }

  &.fadeOut {
    animation: fadeOutDown 0.3s ease forwards;
  }
}

.searchInput {
  padding: 0.5rem 1rem;
  margin: 0 1rem; /* Margem para espaço entre a barra de busca e os ícones */
  border: 1px solid #ccc;
  border-radius: 1rem;
  outline: none;
  width: 50%;
}

.icon {
  font-size: 1.5rem; /* Tamanho do ícone */
  margin-left: 1rem; /* Espaço entre os ícones */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */

  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}
