.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5.75rem;
  padding: 1.5rem 10rem;
}

.logo {
  font-size: 1.5rem;
  margin: 0;
}

.nav {
  display: flex;
  gap: 1rem;

  align-items: center;
}

.navLink {
  font-size: 1em;
  margin-left: 24px;

  text-decoration: none;
  color: #000;

  transform: transform 300ms;

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: #007bff;
  }
}

.customButton {
  margin-left: 24px;
}
