.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5.75rem;

  padding: 1.5rem 15rem;

  background: none;
  background-color: transparent;

  z-index: 10;
  position: absolute;

  color: #fff;
}

.logo {
  font-size: 1.5rem;
  margin: 0;
}

.nav {
  display: flex;
  gap: 1rem;

  align-items: center;
}

.link {
  position: relative;

  font-size: 1em;
  margin-left: 24px;

  text-decoration: none;
  color: #fff;
  transition: transform 0.3s, color 0.3s;
}

.link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -5px;

  height: 2px;
  width: 100%;

  background-color: #ffa500;

  transform: scaleX(0);
  transition: transform 0.3s;
}

.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
}

.link:hover,
.link:focus {
  transform: scale(1.1);
  color: #ffa500;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); // Fundo semi-transparente
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Certifique-se de que a modal está acima de outros elementos
}

.modalContent {
  background: transparent;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
