.loginContainer {
  display: flex;
  justify-content: center; // Centraliza horizontalmente
  align-items: center; // Centraliza verticalmente
  height: 100vh;
  background-color: #000;

  .formEimg {
    display: flex;
    justify-content: center; // Centraliza horizontalmente
    align-items: center; // Centraliza verticalmente
    width: 1000px;
    height: 70%;

    // border: solid 1px black;
    overflow: hidden;
    border-radius: 2rem;
  }

  .imageContainer {
    position: relative; /* Necessário para que o botão se posicione corretamente */
    width: 50%; /* Largura da coluna de imagem */
    height: 100%; /* Altura da coluna de imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Esconde partes da imagem que ultrapassam a div */

    img {
      object-fit: cover; /* Faz a imagem cobrir a div sem esticar */
      width: 100%; /* Largura total da div */
      height: 100%; /* Altura total da div */
    }
  }

  .form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%; // Largura da coluna de login
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000; // Corrigido para garantir que o texto seja visível

    form {
      width: 80%; // Largura da coluna de login
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
    }

    h2 {
      margin-bottom: 20px;
      color: #000; // Cor do título
      font-size: 3rem;
    }

    .inputCheckBoxContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;
      gap: 10px;

      input[type="checkbox"] {
        appearance: none; // Remove o estilo padrão do checkbox
        margin: 0;
        width: 10px;
        height: 10px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;

        &:checked {
          background-color: #ffa500; // Cor de fundo quando selecionado
          border-color: #ffa500;

          &::after {
            content: "✓"; // Marca de seleção
            color: #fff; // Cor da marca
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 5px rgba(0, 112, 243, 0.5); // Efeito de foco
        }
      }

      label {
        font-size: 0.7rem;
      }
    }

    p {
      margin-top: 1rem;
      color: #000;
      font-size: 0.7rem;

      a {
        color: #ffa500;
        cursor: pointer;
      }
    }

    .inputGroup {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        // margin-bottom: 5px;
        font-weight: bold;
        color: #000; // Cor da label
      }

      input {
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none; // Remove a borda padrão
        transition: border-color 0.3s; // Transição suave para a borda

        &:focus {
          border-color: #ffa500; // Borda laranja ao focar
        }
      }
    }

    .submitButton {
      padding: 1rem;
      background-color: #000;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s; // Transição suave para a cor do fundo

      &:hover {
        background-color: #ffa500; // Altera a cor ao passar o mouse
      }
    }
  }

  .closeButton {
    position: absolute;
    top: 1rem; // Distância do topo
    right: 2rem; // Distância da direita
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    z-index: 1; // Assegura que o botão fique acima de outros elementos
    transition: all 300ms;

    &:hover {
      color: #ffa500; // Altera a cor ao passar o mouse
      transform: scale(1.1);
    }
  }
}
