.container {
  display: flex;
  margin-bottom: 4rem;
  padding: 2rem;
}

.sidebar {
  width: 20%;
}

.content {
  width: 80%;
  padding: 0 4rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
  }
}
