.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: calc(100vh - 5.75rem);

  // background-color: #eee;
}

.cart {
  display: flex;

  width: 70%;
  height: 70%;

  background-color: #fff;

  border: 1px solid #999;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #999;

  margin-top: 3rem;
  padding-bottom: 1rem;
}

.productContent {
  width: 80%;
  overflow-y: auto;

  margin-inline: 3rem;
}

.sidebar {
  width: 20%;

  background: #fafafa;
  padding: 0 16px;

  border-left: 1px solid #ddd;

  display: flex;
  flex-direction: column;
  gap: 16px; /* Espaçamento entre os elementos */
  height: auto; /* Manter altura automática */
  justify-content: space-between; /* Espaço entre os elementos */
}

.sideTitle {
  border-bottom: 1px solid #999;

  margin-top: 3rem;
  padding-bottom: 1rem;
}

.labels {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 16px;
  font-weight: bold;

  margin-top: 1rem;
  color: #999;
}

.productCard {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 16px;
  align-items: center;
}

.summaryItem {
  font-size: 16px;

  padding-bottom: 1rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 4px;
}

.inputGroup input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.totalCheckout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto; /* Move para a parte inferior */
}

.totalCheckout > h3 {
  margin: 0; /* Remove a margem padrão do h3 */
  flex-grow: 1; /* Permite que o total cresça para preencher o espaço */
}

.checkoutButton {
  padding: 10px 20px;

  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 4px;

  width: 100%; /* Botão ocupa a largura total disponível */

  cursor: pointer;
  transition: background-color 0.3s;

  margin-bottom: 3rem;
  margin-top: 1rem;
}

.checkoutButton:hover {
  background-color: #ffa500;
}

.inputGroup select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
