.carousel {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  margin: 0 2rem 0 2rem;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  gap: 1rem;

  width: 100%; // Ajuste conforme necessário
}

.card {
  min-width: 200px; // Ajuste para o tamanho do seu card
  margin: 0 10px; // Espaçamento entre cards
}

.imageContainer {
  width: 100%;

  background-size: cover;
  background-position: center;
}
