.button {
  color: #fff;
  background-color: #000;

  // border: solid 1px #000;

  margin-left: 24px;
  padding: 12px;
  border-radius: 6px;

  cursor: pointer;

  transition: 200ms;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;

  &:hover {
    background-color: #ffa500;
    color: #fff;
  }
}

.buttonInverse {
  // margin: 0;

  color: #000;
  background-color: #fff;
}
