.navBar {
  width: 100%;
  height: 2.875rem;

  background-color: blue;
}

.content {
  margin: 2.875rem 13.5rem;

  h1 {
    background-color: #ffa500;
    color: #fff;

    padding: 1rem;
    margin-bottom: 2.875rem;
    width: 100%;
  }
}

.carousel {
  margin-bottom: 2.875rem;

  h3 {
    text-transform: uppercase;

    margin-left: 5.25rem;
    margin-bottom: 2.875rem;
  }
}

.adsContainer {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2.875rem;
}

.ad {
  flex: 1;
  margin: 0 10px;

  img {
    width: 100%;
    max-height: 12.5rem;
    border-radius: 8px;
  }
}
