.section {
  display: flex;
  align-items: center;

  height: 100vh;
  // border: 1px solid #ccc;

  &:nth-child(2) {
    height: calc(100vh - 5.75rem);

    background-image: url("../../public/images/hero.jpg");
    background-position: right top;
    background-repeat: no-repeat;

    position: relative;
  }
}

.overlay {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.leadContainer {
  margin-left: 10rem;

  display: flex;
  flex-direction: column;

  color: #fff;
  line-height: 60px;

  z-index: 2;

  h1 {
    font-size: 60px;
  }
}
