.container {
  width: 100%;
  padding: 0px 12rem 0px 12rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  .caminho {
    padding: 0.8rem 0 0.8rem 0;
    font-size: 0.8rem;
    border-bottom: 0.9px solid rgb(211, 208, 208);
  }

  h1 {
    font-size: 1.4rem;
    color: #535353;
  }

  .containerSections {
    display: flex;

    .containersection1 {
      width: 50%;
      display: flex;

      .section1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 5rem;
      }

      .imageContainer {
        display: flex;
        justify-content: space-around;

        //width: 400px;
        height: 400px;

        .imageProduct {
          max-width: 400px;
        }
      }

      .containerCep {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
          font-size: 1rem;
        }

        .inputCep {
          display: flex;
          gap: 1rem;

          input {
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 5px;
            border: 1px solid black;
          }

          button {
            padding: 1rem;
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #c78203;
            font-weight: bold;
            color: #c78203;
            transition: 500ms ease;
          }

          button:hover {
            color: #fff;
            cursor: pointer;
            background-color: #ffa500;
          }
        }
      }
    }

    .containersection2 {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .section2 {
        display: flex;

        p,
        a {
          font-size: 0.9rem;
        }

        p:nth-of-type(2) {
          line-height: 1.5rem;
        }

        h1 {
          font-size: 2rem;
          color: #c78203;
        }

        .section2div1 {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          width: 50%;
        }

        .section2div2 {
          width: 50%;
          display: flex;
          justify-content: end;
          align-items: center;

          button {
            background-color: #c78203;
            font-weight: bold;
            color: #fff;
            padding: 1rem;
            width: 10rem;
            border-radius: 4px;
            cursor: pointer;
            transition: 500ms ease;
          }

          button:hover {
            background-color: #f19e04;
          }
        }
      }
      .section22 {
        // background-color: #535353;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
      }
    }
  }
}
