@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

$color-orange: #ffa500;
$color-gray: #ccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
button,
input {
  border: 0;
  outline: 0;
}

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
